* {box-sizing: border-box;
  font-family: sans-serif;
  }


.payment-title {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
}

.loadex {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadex > img {
    width: 50px;
    height: 50px;
}

.loadex.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.top  {
    background: #F6F6F6;
    display: grid;
    width: 100%;
    padding: 10px 30px;
    top: 0px;
    color: #808080;
    font-size: 17px;
    font-weight: bolder;
    position: fixed;
    box-shadow: 0px 0px 10px #AEAEAE;
    margin: 0px -9px;
}
.top img{
   height: 40px;
   position: fixed;
   z-index: 1;
   margin: 2% 58%;
}
.alert {
  padding: 10px;
  background-color: #EDEDED; /* Red */
  color: black;
  margin: -20% 0px;
  width: 100%;
  border-radius: 4px;
  font-weight: bolder;
  cursor: pointer;
}

.alert2 {
  padding: 10px;
  background-color: #EDEDED; /* Red */
  color: black;
  width: 100%;
  margin: 30% 0px;
  border-radius: 4px;
  font-weight: bolder;
  cursor: pointer;
}

.alert2 img {
  float: right;
  margin: -10px;
}
.alert p{
  font-size: 15px;
  color: #888888;
}
.alert2 p{
  font-size: 15px;
  color: #888888;
}
.tag p{
  font-size: 16px;
  color:#3E76E7;
  border:1px solid #3E76E7;
  width: 100%;
  height: 90px;
  padding: 15px;
  border-radius: 5px;
  margin: 30% 0%;
}

.foot {
  padding: 15px;
  background-color: #FF6600;
  color: white;
  width: 100%;
  height: 300px;
  position: fixed;
  margin-bottom: 0px;
  margin: 0px -9px;
}
.foot a{
  color:white;
}
img.animated-gif{
  width: 98%;
  height: auto;
  position: fixed;
  margin: -17% -49%;
}