* {box-sizing: border-box;
  font-family: sans-serif;
  }

body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: 'Raleway';

}

input[type=text]:focus, input[type=password]:focus {
  outline-color:#FF6C00;
}
.payment-title {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
}

.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
    border:none;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-areas: "name name""number number""expiration security";
    max-width: 400px;
    padding: 20px;
    color: #707070;
    font-size: 14px;
}

input {
    background: none;
    padding: 15px;
    font-size: 14px;
    width: 80%;
    float: right;
    border:1px solid #D3D3D3;
}


/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.container {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}



.loadex {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadex > img {
    width: 50px;
    height: 50px;
}

.loadex.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.payment-title img{
    position: absolute;
    margin: -25px -158px;

}

.field-container font {
    padding: 5px;
}
.para p{
    color:#8A8A8A;
    font-size: 12px;

}

.creditbtn button{
    background: #FF6C00;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: bolder;
    color:white; 
    border-radius: 2px;
    cursor: pointer;
}
.creditbtn button:hover {
    background: #C05100;
}

.blank{
    background: none;
    width: 10px;
    height:10px;

}
.field-container label{
    font-size: 12px;
    color:black;
}
.botcontain{
    display: grid;
    max-width: 400px;
    padding: 20px;
    color: #707070;
    font-size: 14px;
}
option {
    position: fixed;
    font-size: 15px;
    color:white;
    font-weight: bolder;
    background: #FF6C00;
    padding: 14px;
    border-radius: 2px;
    border:1px solid #FF6C00;
}
.topnav {
  position: fixed;
  top: 0px;
  background: #F3F3F3;
  width: 100%;
  height: 55px;
  box-shadow: 0px 0px 10px #AEAEAE;
}
.topnav img{
    padding: 5px;
    margin: 3px;
}
.topnav p {
    margin:-42px 0px;
    font-weight: bolder;
    color: #5D5D5D;
    font-size: 15px;
}

.bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
}
.bottom p {
    padding: 0px 10px;
    font-weight: bolder;
    color: black;
    font-size: 15px;
}

.bottom2 {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
}
.bottom2 p {
    padding: 0px 10px;
    font-weight: bolder;
    color: #FF5A00;
    font-size: 15px;
}