* {box-sizing: border-box;
  font-family: sans-serif;
  }

hr {
  border: 1px solid #FF6C00;
  margin-bottom: 25px;
}
body{
  background-image: url(back.jpeg);
  background-position: 50% 10%;
}
img.animated-gif{
  width: 100%;
  height: auto;
}